---
import  { VITE_STATIC } from 'astro:env/server';
// const { env } = Astro.locals.runtime;
const STATIC1 = process.env.VITE_STATIC as string;
/* Cannot destructure property 'env' of 'Astro2.locals.runtime' as it is undefined.
 * Stack trace:
 *   at file:///home/beige/dev/github.com/staticWagomU/astro-workers-env/dist/pages/index.astro.mjs?time=1745331445395:47:11
 *   at AstroComponentInstance.init (file:///home/beige/dev/github.com/staticWagomU/astro-workers-env/dist/chunks/astro/server_CiuSlKpz.mjs:1410:29)
 *   at Object.render (file:///home/beige/dev/github.com/staticWagomU/astro-workers-env/dist/chunks/astro/server_CiuSlKpz.mjs:1804:23)
 *   at file:///home/beige/dev/github.com/staticWagomU/astro-workers-env/dist/chunks/astro/server_CiuSlKpz.mjs:1003:18
 *   at createBufferedRenderer (file:///home/beige/dev/github.com/staticWagomU/astro-workers-env/dist/chunks/astro/server_CiuSlKpz.mjs:734:10)
 */
// const STATIC2 = env.VITE_STATIC || 'false';
const STATIC3 = import.meta.env.VITE_STATIC as string;

console.log(
  '\n========== Layout.astro ==========\n',
  `import.meta.env.VITE_STATIC : ${import.meta.env.VITE_STATIC}\n`,
  // `env.VITE_STATIC            : ${env.VITE_STATIC}\n`,
  `process.env.VITE_STATIC     : ${process.env.VITE_STATIC}\n`,
  `astro:env/server VITE_STATIC: ${VITE_STATIC}\n`,
  '==================================');

  const NO_INDEX = [VITE_STATIC, STATIC1/*, STATIC2 */, STATIC3].includes('true');
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{NO_INDEX && <meta name="robots" content="noindex" />}
		{NO_INDEX && <meta name="googlebot" content="noindex" />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
